@font-face {
  font-family: "firaMono-Regluar";
  src: url("../fonts/FiraMono-Regular.ttf")
}

@font-face {
  font-family: "firaMono-Bold";
  src: url("../fonts/FiraMono-Bold.ttf")
}

@font-face {
  font-family: "firaMono-Medium";
  src: url("../fonts/FiraMono-Medium.ttf")
}